<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link type="text/css" rel="stylesheet" href="~/Content/bootstrap/3.3.2/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/bootstrap/3.3.2/css/bootstrap-theme.min.css" />
    
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div id="container" class="minWidth">
        <header>
            <div class="logo">
                <span>My Auction</span>
            </div>
            
            @using (Html.BeginForm("Search", "Lot", FormMethod.Get, new { id = "search-top", @class = "search_form", name = "search_form" }))
            {
                @Html.TextBox("searchString", "",new { Class = "search-string", maxlength = "255", placeholder = "Введите название лота"});
                <input class="search_button" type="submit" value="Найти" />
            }
        </header>
        
        <main id="middle-content" >
            <div id="mn-layout__inner" class="mn-layout__inner">
                <nav class="mn-layout__col-1">
                    @Html.Partial("_Menu")
                </nav>
                <div class="mn-layout__col-2">
                    @RenderBody()
                </div>
            </div>
        </main>

    </div>
    
    
    <footer>
        <span>My Auction &copy; 2015</span>
    </footer>
        

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
