<div class="list-group">
    <h4 class="menu_title">Меню</h4>
    @Html.ActionLink("Домашняя", "Index", "Home", null, new { @class = "list-group-item" })
    @if (HttpContext.Current.User.Identity.IsAuthenticated)
    {
        if (HttpContext.Current.User.IsInRole("Moderator"))
        {
            @Html.ActionLink("Не модерированные лоты", "Unmoderated", "Lot", null, new { @class = "list-group-item" })
            @Html.ActionLink("Недавно модерированные", "RecentlyModerated", "Lot", null, new { @class = "list-group-item" })
        }
        if (HttpContext.Current.User.IsInRole("User"))            
        {
            @Html.ActionLink("Личные данные", "Private", "User", null, new { @class = "list-group-item" })
            @Html.ActionLink("Мои лоты", "My", "Lot", null, new { @class = "list-group-item" })
            @Html.ActionLink("Мои ставки", "My", "Bid", null, new { @class = "list-group-item" })
        }
        if (HttpContext.Current.User.IsInRole("Administrator"))
        {
            @Html.ActionLink("Пользователи", "Index", "User", null, new { @class = "list-group-item" })
            @Html.ActionLink("Категории", "Index", "Category", null, new { @class = "list-group-item" })
        }
        @Html.ActionLink("Выйти", "Logout", "User", null, new { @class = "list-group-item" })
    }
    else
    {
        @Html.ActionLink("Войти", "Login", "User", null, new { @class = "list-group-item" })
        @Html.ActionLink("Регистрация", "Create", "User", null, new { @class = "list-group-item" })
    }
    <h4 class="menu_title">Категории</h4>
    @Html.Action("ShowCategories", "Category")
</div> 