<p>Меню</p>
<ul class="navigation">
    <li>@Html.ActionLink("Домашняя", "Index", "Home", null, new { @class = "btn btn-default btn-sm" })</li>
    @if (HttpContext.Current.User.Identity.IsAuthenticated)
    {
        
        if (HttpContext.Current.User.IsInRole("Moderator"))
        {
            <li>@Html.ActionLink("Не модерированные лоты", "Index", "Lot", null, new { @class = "btn btn-default btn-sm" })</li>
            <li>@Html.ActionLink("Недавно модерированные", "Index", "Lot", null, new { @class = "btn btn-default btn-sm" })</li>
        }
        if (HttpContext.Current.User.IsInRole("User"))            
        {
            <!--<li>@Html.ActionLink("Личные данные", "Index", "Lot", null, new { @class = "btn btn-default btn-sm" })</li>-->
            <li>@Html.ActionLink("Мои лоты", "Owner", "Lot", null, new { @class = "btn btn-default btn-sm" })</li>
            <li>@Html.ActionLink("Мои ставки", "My", "Bid", null, new { @class = "btn btn-default btn-sm" })</li>
        }
        if (HttpContext.Current.User.IsInRole("Administrator"))
        {
            <li>@Html.ActionLink("Пользователи", "Index", "User", null, new { @class = "btn btn-default btn-sm" })</li>
        }
        <li>@Html.ActionLink("Выйти", "Logout", "User", null, new { @class = "btn btn-default btn-sm" })</li>
    }
    else
    {
        <li>@Html.ActionLink("Войти", "Login", "User", null, new { @class = "btn btn-default btn-sm" })</li>
        <li>@Html.ActionLink("Регистрация", "Create", "User", null, new { @class = "btn btn-default btn-sm" })</li>
    }
    <p>Категории</p>
    <li>
        @Html.Action("ShowCategories", "Category")
    </li>

<!-- Перенести в Мои лоты
@if (HttpContext.Current.User.IsInRole("User"))
    {
        <li>
            <a class="btn btn-default btn-sm" href="#">Create</a>
            <ul>
                @if (HttpContext.Current.User.IsInRole("Administrator"))
                {
                    <li>@Html.ActionLink("Category", "Create", "Category", null, new { @class = "btn btn-default btn-sm" })</li>
                }
                <li>@Html.ActionLink("Item", "Create", "Item", null, new { @class = "btn btn-default btn-sm" })</li>
            </ul>
        </li>
    }
   -->
</ul>
    