@model MvcPL.Models.User.UserEditModel

@{
    ViewBag.Title = "Private";
}

<h2>Private</h2>

@using (Html.BeginForm())
{
    //@Html.AntiForgeryToken()
    //s@Html.ValidationSummary(true)

    <fieldset>
        <legend>Edit</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Password)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Password)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ConfirmPassword)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ConfirmPassword)
        </div>

        <p>
            <input type="submit" value="Update" />
        </p>
    </fieldset>
}