@model MvcPL.Models.Lot.LotViewModel

@{
    ViewBag.Title = "Details";
}


<div >
    Category -> @Html.ActionLink(Model.Category.Name, "Search", "Lot", new { categoryId = Model.Category.Id }, null)
    <h2>@Html.DisplayFor(model => model.Name)</h2>
    @if (Model.Image == null)
    {
        <img class="image_max" src="~/Content/img/NoImage300px.png">
    }
    else
    {
        @Html.Raw("<a href=\"data:image/jpeg;base64," + Convert.ToBase64String(Model.Image) + "\" rel='lightgallery'><img class='image_max' src=\"data:image/jpeg;base64," + Convert.ToBase64String(Model.Image) + "\" /></a>")
    }
    <div>
        @Html.DisplayNameFor(model => model.CurrentPrice) : @Html.DisplayFor(model => model.CurrentPrice) 
        <br />
        @if (User.IsInRole("User")) 
        { 
            if (!ViewBag.OwnerView)
            {
                using (Html.BeginForm("Create", "Bid", new { id = Model.Id }, FormMethod.Post))
                {
                   @:Your bid in $ :
                   @Html.TextBox("newBid") 
                    //@Html.ValidateFor()
                   <input type="submit" value="Make bid" />
                }
            
            }
            else
            {
                @Html.ActionLink("Edit", "Edit", new { id = Model.Id})
                @Html.ActionLink("Delete", "Delete", new { id = Model.Id})
            }
        }
        <br />
        @Html.ActionLink("Bids", "Lot", "Bid", new { lotId = Model.Id }, null)
        <br />
        @Html.DisplayNameFor(model => model.FinishDateTime) : @Html.DisplayFor(model => model.FinishDateTime)
        <br />
        @Html.ActionLink("owner", "Details", "User", new { id = Model.OwnerId }, null)
    </div>

    <table class="table table-striped" id="details">
        <tr>
            <th colspan="4">
                @Html.DisplayNameFor(model => model.Description)
            </th>
        </tr>
        <tr>
            <td colspan="4">
                @Html.DisplayFor(model => model.Description)
            </td>
        </tr>
    </table>
    @if (User.IsInRole("Moderator"))
    {
        @:Статус: @Html.DisplayFor(model => model.ModerationStatus)
        <br />
        using (Html.BeginForm("SetModerationStatus", "Lot", new { id = Model.Id, moderationStatusId = (int)MvcPL.Models.Lot.ModerationStatus.Invalid }, FormMethod.Post))
                {
                   <input type="submit" value="Нарушение" />
                   @:Сообщение:
                   @Html.TextBox("moderatorMessage") 
                }
        <br />
        @Html.ActionLink("Проверенно", "SetModerationStatus", new { id = Model.Id, moderationStatusId = (int)MvcPL.Models.Lot.ModerationStatus.Checked })
               
    }
</div>

